@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
}

html {
  background-color: rgba(242, 242, 242, 1);
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.visually-hidden {
  visibility: hidden;
}

.navigation-item a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.navigation-search-item a {
  background-image: url("/images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.navigation-favorite-item a {
  background-image: url("/images/icons/icon-favorite.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.header-button {
  background-color: #756157;
}

.main-hero {
  /* серый фон для читаемости если изображения не загрузятся */
  background-color: darkgrey;
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center, center;
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
}

.section-paragraph {
  text-align: center;
}

.advantages-div {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-list li:nth-child(1n) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-list li:nth-child(2n) {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.second-advantages-list li:first-child {
  background-image: url("/images/icons/house.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.second-advantages-list li:nth-child(2) {
  background-color: #ffffff;
  color: #000000;
  background-image: url("/images/icons/food.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.second-advantages-list li:nth-child(3) {
  background-image: url("/images/icons/present.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.section-button {
  background-color: #756157;
}

.subscribe-section.on-index {
  color: #ffffff;
  background-color: darkgrey;
  background-image: url("/images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.subscribe-button {
  background-color: rgba(130, 179, 211, 1);
}

.footer-social-list li:first-child {
  background-image: url("/images/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.footer-social-list li:nth-child(2) {
  background-image: url("/images/icons/icon-telegram.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.footer-social-list li:nth-child(3) {
  background-image: url("/images/icons/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.contact-address a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.hero-section {
  color: #ffffff;
  background-color: darkgrey;
  background-image: url("/images/filter.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
  color: inherit;
  font-weight: 700;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.apply-button {
  background-color: rgba(130, 179, 211, 1);
}

.reset-button {
  background-color: rgba(255, 255, 255, 0);
}

.button-card {
  background-image: url("/images/icons/View-icon.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.button-box {
  background-image: url("/images/icons/View-icon-1.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.button-list-show {
  background-image: url("/images/icons/View-icon-2.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.catalog-item {
  border: 1px solid rgba(230, 230, 230, 1);

}

.catalog-item a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-paragraph span {
  font-size: 18px;
  line-height: 21px;
}

.more-details {
  background-color: rgba(117, 97, 87, 1);
}

.favorite {
  background-color: rgba(130, 179, 211, 1)
}

.rating-value-div {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
