@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.navigation-item a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.header-button {
  background-color: #756157;
}

.main-hero {
  /* серый фон для читаемости если изображения не загрузятся */
  background-color: darkgrey;
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center, center;
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
}

.section-paragraph {
  text-align: center;
}

.advantages-div {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-list li:nth-child(1n) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}



.advantages-list li:nth-child(2n) {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.second-advantages-list li:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
}

.section-button {
  background-color: #756157;
}

