@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"),
    url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans"),
    url("/fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: rgba(242, 242, 242, 1);
}

.wrapper {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  min-width: 1060px;
  margin: 0 70px;
  justify-content: space-between;
}

.navigation a {
  height: 64px;
}

.navigation-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-catalog {
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation-list:not(:last-child) {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  min-width: 500px;
  margin-right: auto;
  margin-block: 0;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  min-width: 200px;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation-user .navigation-link a {
  min-width: 20px;
  min-height: 20px;
  display: block;
  padding-inline: 12px;
  padding-block: 22px;
  box-sizing: border-box;
}

.navigation-item a {
  display: block;
  padding-inline: 16px;
  padding-block: 20px;
  box-sizing: border-box;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 0;
  padding: 8px 50px;
  border-radius: 4px;
  height: 52px;
}

.header-button {
  padding: 8px 34px;
  margin: auto 0;
  background-color: #756157;
  height: 36px;
  min-width: 160px;
}

.main-hero {
  background-color: darkgrey;
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center, center;
  min-width: 1200px;
  height: 485px;
  display: flex;
}

.hero-logo {
  margin: 50px auto auto;
}

.middle-section {
  margin-block: 66px;
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.section-paragraph {
  margin: 0 auto;
  text-align: center;
}

.advantages-div {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 385px;
  list-style: none;
  justify-content: center;
}

.advantages-item h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 175px;
  align-self: center;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  max-width: 230px;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

.second-advantages-item h3 {
  margin-top: 102px;
  margin-bottom: 30px;
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-list li:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
  color: inherit;
}


.second-advantages-list li:nth-child(even) {
  background-color: #ffffff;
  color: inherit;
}

.second-advantages-list li:first-child {
  background-image: url("/images/icons/house.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
  background-position-y: 81px;
}

.second-advantages-list li:nth-child(2) {
  background-image: url("/images/icons/food.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
  background-position-y: 81px;
}

.second-advantages-list li:nth-child(3) {
  background-image: url("/images/icons/present.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
  background-position-y: 81px;
}

.hotel-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 96px;
}

.hotel-search-section p {
  margin-bottom: 54px;
}

.section-button {
  background-color: #756157;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 415px;
  justify-content: center;
}

.subscribe-section p {
  margin-bottom: 54px;
}

.subscribe-section.on-index {
  color: #ffffff;
  background-color: darkgrey;
  background-image: url("/images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.subscribe-button {
  background-color: rgba(130, 179, 211, 1);
}

.footer-container {
  min-width: 1060px;
  margin: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.contacts-footer {
  min-width: 225px;
}

.footer-social-list {
  list-style: none;
  margin-block: 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item a{
  min-width: 47px;
  min-height: 40px;
  display: block;
  box-sizing: border-box;
}

.phone-footer {
  min-width: 720px;
  text-align: center;
}

address.contact-address {
  display: flex;
}

.contact-address a {
  margin: 5px auto;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

.logo-footer a {
  display: block;
  box-sizing: border-box;
  min-width: 115px;
  min-height: 33px;
  margin-left: auto;
  margin-block: auto;
}

.logo-footer img {
  display: block;
  box-sizing: content-box;
  padding-block: 9px;
  padding-left: 42px;
}

.filter-section {
  color: #ffffff;
  background-color: darkgrey;
  background-image: url("/images/filter.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  padding: 35px 70px 70px;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
  color: inherit;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: auto;
  display: flex;
}

.breadcrumbs-link {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  min-width: 1060px;
}

.first-filter-container {
  min-width: 370px;
  display: flex;
  justify-content: space-between;
}

.second-filter-container {
  min-width: 550px;
  display: flex;
}

.button-filter {
  min-width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 0;
  margin-top: 32px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
}

.apply-button {
  background-color: rgba(130, 179, 211, 1);
}

.reset-button {
  background-color: rgba(255, 255, 255, 0);
}

.button-item {
  list-style: none;
}

.catalog-section {
  min-width: 1060px;
  margin: 50px 70px 60px 70px;
}

.catalog-item {
  list-style: none;
  border: 1px solid rgba(230, 230, 230, 1);

}

.catalog-item a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-paragraph span {
  font-size: 18px;
  line-height: 21px;
}

.more-details {
  background-color: rgba(117, 97, 87, 1);
}

.favorite {
  background-color: rgba(130, 179, 211, 1)
}

.rating-value-div {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
}

.pagination-row {
  list-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item a {
  color: inherit;
  text-decoration: none;
}

.pagination-row li {
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}

.pagination-row li:first-child {
  color: inherit;
  background-color: rgba(242, 242, 242, 1);
}

.pagination-row li:nth-child(5) {
  color: inherit;
  background-color: rgba(242, 242, 242, 1);
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
